.gradle
.idea/gradle.xml
.idea/libraries
.idea/misc.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/compiler.xml
.idea/modules.xml
.idea
build
lib/dependencies/
.DS_Store
out
*.iml
gradle/wrapper/gradle-4.4.1-all.zip